<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>

<ul id="lists">
  <% sort_lists(@lists) do |list, index| %>
    <li class="<%= list_completion(list)%>">
      <a href="/lists/<%= index %>">
        <h2><%= list[:name] %></h2>
        <p>
          <%= remaining_todo_count(list) %>/<%= todo_count(list) %>
        </p>
      </a>
    </li>
    </li>
  <% end %>
</ul>
