<% content_for :header_links do %>
  <a class="list" href="/lists">Back to Home</a>
<% end %>

<section id="todos" class="<%= list_completion(@list) %>">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <% if list_incomplete?(@list) %>
        <li>
          <form action="/lists/<%= @list_id %>/complete_all" method="post">
            <button class="check" type="submit">Complete All</button>
          </form>
        </li>
      <% end %>

      <li>
        <a class="edit" href=<%= "/lists/#{@list_id}/edit"%>>
          Edit List
        </a>
      </li>
    </ul>
  </header>

  <ul>
    <% sort_todos(@list[:todos]) do |todo| %>
      <li class="<%= todo_completion(todo) %>">
        <form action="/lists/<%= @list_id %>/todos/<%= todo[:id] %>/toggle" method="post" class="check">
          <input type="hidden" name="completed" value="<%= !todo[:completed] %>"/>
          <button type="submit">Complete</button>
        </form>

        <h3><%= todo[:name] %></h3>
        <form action="/lists/<%= @list_id %>/todos/<%= todo[:id] %>/delete" method="post" class="delete">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% end %>
  </ul>
  
</section>

<%# To-do form %>
<form action="/lists/<%= @list_id %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo">Enter a new to-do item:</label>
    </dt>
    <dd>
      <input type="text" name="todo" value="<%= params[:todo] %>">
    </dd>
  </dl>

  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>

</form>


